{{ $bg := .Resources.Get "background.jpg" }}
{{ if $bg }}
    {{ $style := (printf "background-image: url('%s');" (
        ($bg.Process "fill 348x557 center webp").RelPermalink )
    )
    }}
    {{ .Scratch.Set "bg_style" $style }}
{{ end }}
{{ $teaser := .Resources.Get "teaser.jpg" }}
{{ if $teaser }}
    {{ $src := ($teaser.Process "fill 348x278 center webp").RelPermalink
    }}
    {{ .Scratch.Set "teaser_src" $src }}
{{ end }}

{{ $modal := .Resources.Get "modal.md" }}
{{ if $modal }}
    {{ if eq ( page.Scratch.Get "modal_id" ) "" }}
        {{ page.Scratch.Set "modal_id" 0 }}
    {{ end }}
    {{ page.Scratch.Add "modal_id" 1 }}
{{ end }}

<div id="{{ .Params.id }}" class="ti-card" style='{{ .Scratch.Get "bg_style" | safeCSS }}'>
    {{ if $teaser }}
    <div class="ti-card-teaser">
    <img src='{{ .Scratch.Get "teaser_src" }}' alt="teaser-image">
    </div>
    {{ end }}
    <h3>{{ .Title }}</h3>
    <div class="ti-card-body  {{ if not $bg }}ti-card-fadeout{{ end }}">
        {{ .Content | safeHTML }}
    </div>
    {{ if $modal }}
    <img 
        src='{{ (resources.Get "images/plus-icon.svg").RelPermalink }}' 
        uk-toggle='target: #modal-{{ page.Scratch.Get "modal_id" }}' 
        alt="open-modal" 
        uk-img
        class="ti-round-button ti-plus-button"
    >
    {{ end }}
</div>

{{ if $modal }}
<!-- This is the modal with the default close button -->
<div id='modal-{{ page.Scratch.Get "modal_id" }}' class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog">
        <img 
            src='{{ (resources.Get "images/x-icon.svg").RelPermalink }}' 
            uk-toggle='target: #modal-{{ page.Scratch.Get "modal_id" }}' 
            alt="open-modal" 
            uk-img
            class="ti-round-button ti-close-button uk-modal-close"
        >
        <div class="uk-modal-body uk-margin-auto-vertical" uk-overflow-auto>
            <div class="ti-modal-body">{{ $modal.Content | safeHTML }}</div>
        </div>
    </div>
</div>
{{ end }}

